---
import Layout from "@/layouts/Main.astro";
import { Search } from "lucide-astro";
---

<Layout>
  <div class="flex-1 flex flex-col items-center justify-center px-4">
    <div class="text-center space-y-2 mb-6">
      <h3 class="flex text-8xl font-black uppercase place-content-center hover:scale-105 hover:-translate-y-1 duration-150">Adurite</h3>
    </div>
    <div class="items-center justify-center w-full max-w-screen-md">
      <form class="relative">
        <Search class="absolute left-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-interactive-secondary" />
        <input
          id="search"
          class="h-15 w-full border px-3 text-sm pl-10 py-6 bg-interactive border-border text-text focus:outline-none rounded-xl"
          placeholder="Search or type a URL"
          type="search"
        />
      </form>
      <p class="italic text-center text-accent mt-2 font-medium text-sm">
        If the text fades away and nothing happens, please <a
          onclick="window.location.reload()"
          class="underline decoration-[1.4px] underline-offset-2 hover:brightness-150 transition-all duration-200">reload the page.</a
        >
      </p>
    </div>
  </div>
</Layout>
<script src="@/lib/home.ts"></script>
